body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #af4c84;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #af4c84;
    border-radius: 5px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

h2 {
    color: #af4c84;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: #333 0px 0px 10px;
}